.button {
  position: relative;
  background-image: linear-gradient(to right, #B53232 0%, #722D7E 100%);
  padding: .6rem 1rem;
  border: 2px solid #ffffff;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 1; }

.button > p {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold; }

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: -1; }

.button:hover:before {
  background-color: rgba(0, 0, 0, .1); }

.button:active:before {
  background-color: rgba(0, 0, 0, .2); }