.home {
  display: flex;
  align-items: center;
  padding-left: 4rem;
  min-height: 100vh;
  width: 100%;
  background-image: url("./bg1.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%; }

.home > main {
  margin-top: 4rem;
  max-width: 25rem; }

.home > main > h1 {
  color: #6A0888;
  font-weight: bold; }

.home > main > p {
  font-size: 1.2rem;
  margin: 2rem 0;
  opacity: .9; }

.home > main > p > mark {
  background: none;
  color: #C11111; 
  font-weight: bold; }