.indicator {
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex; }

.indicator > img {
  height: 8rem;
  width: 8rem; 
  margin: 0 1rem; }

.indicator > div {
  padding: 1rem;
  border-radius: .5rem;
  background-color: #B53232; }

.indicator > div > section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem 0; }

.indicator > div > section > p {
  width: 6rem;
  color: #ffffff; }